body{
	font-family: "Myriad pro";
	background-color: #2b2b2b;
	height: 100%;
}

header{
	display: flex;
	justify-content:center;
	align-items: center;
	background-color: #2b2b2b;
	
}

p{
	
	padding: 0;
	margin: 0 0 0 30;
	font-weight: bolder;
	font-size: 60px;
	font-family: "Myriad pro";
	text-align: center;
	color: #F9F8F2;
}
div{
	background-color: #F9F8F2;
	height: 550px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
section:first-of-type {
	padding: 0 0 0 0;
	background-color: #2b2b2b;
	width: 200px;
 	height: 100%; 
}
section:last-of-type{
	flex: 1;	
	margin: 30 30 30 30;
	height: 100%;
}
li{
	list-style-type:none;
	margin: 0;
	padding: 0;
}
.nav,input[type="submit"]{
	cursor:pointer;
	border-radius: 3px;
	width: 140px;
	text-align: center;
	margin: 10 0 10 0;
	display: block;
	text-decoration:none;
	color: #F9F8F2;
	font-size: 20px;
	padding: 10 0 10 0;
	background-color: #ac5240;
	border: none;
}
input[type="submit"]:hover{
		border-right: solid 3px #2b2b2b;
}
.nav:hover,#current{
	border-right: solid 3px #F9F8F2;
}

table {
    border-collapse: collapse;
	text-align: left;
	align-items: center;
	margin-left:auto; 
    margin-right:auto;
}
th{
	color: #F9F8F2;
	background-color: #2b2b2b;
	height: 40px;
}
td{
	height: 30px;
}
th, td {
    border-bottom: 1px solid #2b2b2b;
	width: 200px;
	padding-left: 15;

}
tr:nth-child(even) {background-color: #f2f2f2;}

.supprimer{
	background-color: #F9F8F2;
	border-bottom: 0px;
	color: red;
}
.listProduits{
		display: none;
}
a{
	text-decoration: none;
}
form{
	padding-left: 100px;
}
label{
	display: block;
	font-size: 25px;
}
input[type="text"]{
	display: block;
	padding: 5 5 5 5;
	font-size: 20px;
	margin-bottom: 30px;
	margin-top: 10px;
	height: 30px;
	width: 500px;
}
span{
	display:none;
	color: red;
	font-size: 12px;
}
.lienSupp{
	color: red;
}
#lienAjout {
	text-decoration: underline;
	width: 400px;
	color: #2b2b2b;
	display: block;
	margin-left:auto; 
	margin-right:auto;
	margin-bottom: 20px;
}